/* dashboard.css */
.bg-custom {
    background-color: rgba(69, 159, 88, 1);
    color: white;
}

.text-white {
    color: white;
}

.columna-navegacion {
    width: 15%;
    background-color: rgba(69, 159, 88, 1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna-navegacion a {
    color: white;
    text-decoration: none;
    width: 100%;
    margin: 10px 0;
}

.columna-navegacion a:hover {
    color: lightgray;
}

.user-img {
    max-width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;  
}

.menu-button {
    background-color: rgb(49, 119, 64);
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.menu-button:hover {
    background-color: rgb(139, 212, 155);
    border-color: rgba(69, 159, 88, 1);
}

.botonAdmin {
    width: 100%;
}


.columna-contenido {
    width: 85%;  
    padding: 20px;
}

.logo-contenido {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.logo-contenido-escondido {
    display: none;
}
