.bg-custom {
    background-color: rgba(69, 159, 88, 1);
    color: white;
    max-width: 20%;
}

.text-white {
    color: white;
}

.columna-navegacion{
    width: 15% !important;
}
.columna-navegacion a {
    color: white;
    text-decoration: none;
}

.columna-navegacion a:hover {
    color: lightgray;
}

.user-img {
    max-width: 80px;
    border-radius: 20%;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.menu-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 10px;
    background-color: rgb(49, 119, 64);
    height: 70px;

}

.menu-button:hover {
    background-color: rgb(139, 212, 155);
    color: rgb(255, 255, 255);
    border-color: rgba(69, 159, 88, 1);
}
.botonAdmin{
    width: 100%;
}

.columna.navegacion{
    min-width: 20% !important;
}