.categorias-div {
    width: max-content;
    height: max-content;
    margin-top: 20px;
}

.items {

    width: 300px;
    height: 150px;
    margin: 10px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.items a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 270px;
}

.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.item-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.item-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.item-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}