.col-main {

    /* border-right: 1px solid black;
    border-right: 1px solid black; */
    margin-top: 20px;
    height: max-content;
    /* border-right: '1px solid black', 
    border-bottom: '1px solid black',
     height: 'max-content' */
}
.espacio{
    margin-right: 20px;
}
.col-filtros{
    margin-top: 40px;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black;  */
    height: max-content;
    max-width: 200px;
}

.div-filtro {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(42, 147, 145, 1);
    border-radius: 0px 10px 0px 0px;
}
.txtGreen{
    color:rgba(42, 147, 145, 1);
    text-decoration: none;
    padding: 10px;
}