.formulario-div{

    margin-top: 100px;
    
    }

.codigoContra{

    padding-bottom: 40px;

}

/* #btnEnlace{


     


} */
.btn-verificar{

 margin-top: 42px ;


}



.icon-container{

    position: relative;
    
 

    top: -56px;

    left: 560px;

}
.icon-container2{

    position: relative;
    
 

    top: -35px;

    left: 560px;

}

.iconEye{


    /* position: absolute;

    top: -250%;

    left: 2300%; */


}

.iconEyeSlash{

    /* position: absolute;

    top: -250%;

    left: 2300%; */


}