.detalle{
    max-width: 1000px;
    max-height:  400px;
}

.productoDetalleVenta{
    margin-left: 10%;
    max-width: 80% !important;
    max-height: 80% !important;
}
.agregarQuitar{
    margin: 1%;
}